.privacy-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #3f51b5;
  margin-bottom: 20px;
  font-size: 2rem;
}

mat-card {
  margin-bottom: 20px;
}

h2 {
  color: #3f51b5;
  margin-top: 20px;
  font-size: 1.5rem;
}

ul {
  padding-left: 20px;
}