.admin-dashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.admin-dashboard h2 {
  margin-bottom: 20px;
}

mat-list {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
}

