<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/" class="logo">Booknest</span>
  <span class="spacer"></span>
  <div class="desktop-menu">
    <a mat-button routerLink="/">Kezdőlap</a>
    <a mat-button routerLink="/search">Keresés</a>
    <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
<!--       <a mat-button routerLink="/bookings">Foglalásaim</a>
      <a mat-button routerLink="/profile">Profilom</a> -->
      <button mat-button (click)="onLogout()">Kijelentkezés</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <a mat-button routerLink="/login">Bejelentkezés</a>
    </ng-template>
    <a mat-button routerLink="/admin" *ngIf="(isAdmin$ | async)">Admin felület</a>
  </div>
</mat-toolbar>

<!--  <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [opened]="isMenuOpen" (closedStart)="isMenuOpen = false" mode="over">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="closeSidenav()">Kezdőlap</a>
      <a mat-list-item routerLink="/search" (click)="closeSidenav()">Keresés</a>
      <ng-container *ngIf="isLoggedIn$ | async; else sidenavNotLoggedIn">
        <a mat-list-item routerLink="/bookings" (click)="closeSidenav()">Foglalásaim</a>
        <a mat-list-item routerLink="/profile" (click)="closeSidenav()">Profilom</a>
        <a mat-list-item (click)="onLogout(); closeSidenav()">Kijelentkezés</a>
      </ng-container>
      <ng-template #sidenavNotLoggedIn>
        <a mat-list-item routerLink="/login" (click)="closeSidenav()">Bejelentkezés</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container> -->