<mat-toolbar color="primary">
  <span routerLink="/" class="logo">Booknest</span>
  <span class="spacer"></span>
  <div class="mobile-menu" *ngIf="isMobile">
    <button mat-icon-button [matMenuTriggerFor]="mobileMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #mobileMenu="matMenu">
      <a mat-menu-item routerLink="/">Kezdőlap</a>
      <a mat-menu-item routerLink="/search">Keresés</a>
      <ng-container *ngIf="isLoggedIn$ | async; else mobileNotLoggedIn">
        <button mat-menu-item (click)="onLogout()">Kijelentkezés</button>
      </ng-container>
      <ng-template #mobileNotLoggedIn>
        <a mat-menu-item routerLink="/login">Bejelentkezés</a>
      </ng-template>
      <a mat-menu-item routerLink="/admin" *ngIf="(isAdmin$ | async)">Admin felület</a>
    </mat-menu>
  </div>
  <div class="desktop-menu">
    <a mat-button routerLink="/">Kezdőlap</a>
    <a mat-button routerLink="/search">Keresés</a>
    <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
<!--       <a mat-button routerLink="/bookings">Foglalásaim</a>
      <a mat-button routerLink="/profile">Profilom</a> -->
      <button mat-button (click)="onLogout()">Kijelentkezés</button>
    </ng-container>
    <ng-template #notLoggedIn>
      <a mat-button routerLink="/login">Bejelentkezés</a>
    </ng-template>
    <a mat-button routerLink="/admin" *ngIf="(isAdmin$ | async)">Admin felület</a>
  </div>
</mat-toolbar>
