<div class="about-container">
  <h1>Rólunk</h1>
  <mat-card>
    <mat-card-content>
      <p>A Booknest egy innovatív szállásfoglaló platform, amely 2023-ban indult azzal a céllal, hogy összekösse az utazókat a legjobb szálláshelyekkel világszerte.</p>
      <p>Küldetésünk, hogy egyszerűvé és élvezetessé tegyük a szállásfoglalás folyamatát, miközben személyre szabott élményeket kínálunk minden utazónak.</p>
      <h2>Értékeink</h2>
      <ul>
        <li>Minőség: Csak a legjobb szálláshelyeket kínáljuk partnereink gondos kiválasztásával.</li>
        <li>Megbízhatóság: Transzparens és megbízható szolgáltatást nyújtunk minden foglalás során.</li>
        <li>Innováció: Folyamatosan fejlesztjük platformunkat a legújabb technológiák alkalmazásával.</li>
        <li>Ügyfélközpontúság: Az ügyfelek elégedettsége a legfontosabb számunkra.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>